body {
  background: rbg(240, 240, 240);
  color: rgb (20, 20, 20);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
h1 {
  color: red;
  font-family: 'PT Serif', serif;
}
h2 {
}
h3 {
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: none;
  color: green;
}
.symbols {
  height: 150px;
  weight: 50px;
  border-radius: 50%;
}

/*Custom Design*/
#profile-section {
  padding-top: 82px;
  padding-right: 10px;
  float: right;
  text-align: right;
  display: block;
}
#profile-text {
  font-weight: bold;
}
#profile-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
#top-section {
  padding-top: 82px;
}
#content {
  text-align: center;
  padding: 92px;
}
#footer a {
  font-size: 20px;
  color: grey;
}
#footer {
  background: #343434;
  padding: 50px;
}
#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
